/*.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 17.25rem;
    left: 68%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}*/

li.nav-item.active{
    background-color: #002D72;
}

li.nav-item:hover{
    background-color: #00538C;
}